@import "../../utilities/variables";

.subreddit-link {
  text-decoration: none;
  color: inherit;
   

  &.current {
    text-decoration: underline;
  }

  &:hover {
    text-decoration: underline;
  }
}
