$dark-text: #1a202c;
$less-dark-text: #718096;

$light-mode-interactive: #ecf2f6;
$dark-mode-interactive: #4f5967;

$link-color: #0079d3;

$light-text: #ffffffde;
$less-light-text: #aab3be;

$light-primary: #f0f2f6;
$light-secondary: #fff;

$dark-primary: #020408;
$dark-secondary: #171a22;

$light-hover: #cbd5df;
$dark-hover: #ffffff29;

$border-darker: #050c13;
$border-lighter: #b3bdc9;

$subtle-box-shadow: 0 1px 2px #00000033;
$heavy-box-shadow: 2px 2px 5px #0000001e;

$mobile-bp: 767px;