$lmText: #181818;
$lmPrimaryBackground: #cbd5df;
$lmSecondaryBackground: #f8fafc;

$dmText: #fff;
$dmPrimaryBackground: #181818;
$dmSecondaryBackground: #252525;
$dmSecondaryHover: #333;

.post-list-main{
  min-height: 100%;
  .post-list-container{
    max-width: 1100px;
    padding: 30px;
    .post-list{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 25px;
      max-width: 620px;
      h1{
        margin: 0;
      }
      .post-link{
        appearance: none;
        color: black;
        text-decoration: none;
              .post{
        border-radius: 5px;
        background-color: $lmSecondaryBackground;
        text-decoration: none;
        color: $lmText initial;
        padding: 30px;
        .post-title{}
        .post-body{}
        .post-created-at{}
    } 
      }

    }

  }
}

.dark{
  .post-list-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
    .post-list{
      h1{
        color: $dmText;
      }
          .post{
      background-color: $dmSecondaryBackground;
      .post-title{
        color: $dmText;
      }
      .post-body{
        color: $dmText;
      }
      .post-created-at{
        color: $dmText;
      }
    }
    }

  }
}