$lmText: #1a202c;
$lmNavButtonText: #ecf2f6;
$lmNavButtonBackground: #ecf2f6;
$lmSecondaryText: #73777c;
$lmPrimaryBackground: #cbd5df;
$lmSecondaryBackground: #f8fafc;
$lmBorderInitial: #cbd5e0;
$lmBorderHover: #a0a9b3;

$dmText: rgba(255, 255, 255, 0.87);
$dmNavBackground: #728095;
$dmSecondaryText: #aab3be;
$dmPrimaryBackground: #1b1f2b;
$dmSecondaryBackground: #2e3748;
$dmButtonBackground: #ffffff29;
$dmHover: #ffffff29;
$dmBorderInitial: #61676d;
$dmBorderHover: #b3bdc9;


.current-subreddit-banner{
  display: flex;
  gap: 8px;
  align-items: flex-end;
  background-color: $lmSecondaryBackground;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #1818181f;
  width: calc(100% - 40px);

  h1 {
    margin: 0;
    
    .rSpan{
      font-size: 1.7rem;
      margin-right: 7px;
    }
  }

  .delete-btn{
    appearance: none;
    padding: 4px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.1s ease;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    color: $lmSecondaryText;
    font-weight: 600;

    &:hover {
      background-color: #fff;
    }
  }

  .delete-confirmation-span{
    appearance: none;
    padding: 4px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.1s ease;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 8px;
    color: $lmSecondaryText;
    font-weight: 600;
    font-size: 0.875rem;

    button:nth-child(1){
      appearance: none;
      border: none;
      background: transparent;
      background: crimson;
      font-weight: 600;
      color: #fff;
      border-radius: 3px;
    }

    button:nth-child(2){
      appearance: none;
      border: none;
      background: transparent;
      background: green;
      font-weight: 600;
      color: #fff;
      border-radius: 3px;
    }
  }
  &.dark{
    background-color: $dmSecondaryBackground;
  }
}
