@import "../../utilities/variables";

.current-subreddit-banner {
  display: flex;
  gap: 8px;
  align-items: flex-end;
  background-color: $light-secondary;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 3px;
  box-shadow: $subtle-box-shadow-light;
  width: calc(100% - 40px);

  .current-subreddit-banner-stack {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .search-value {
      font-size: 1rem;
      margin: 0;
      border-left: cornflowerblue solid 3px;
      padding-left: 5px;
      span {
        font-weight: 600;
      }
    }
  }

  h1 {
    margin: 0;
    font-size: 1.5rem;

    .rSpan {
      font-weight: 600;
      font-size: 1.2rem;
      margin-right: 7px;
    }
  }

  .delete-btn {
    appearance: none;
    padding: 0px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.1s ease;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    color: $less-dark-text;
    font-weight: 600;
  }

  .delete-confirmation-span {
    appearance: none;
    padding: 4px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.1s ease;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 8px;
    color: $less-dark-text;
    font-weight: 600;
    font-size: 0.875rem;

    button:nth-child(1) {
      appearance: none;
      border: none;
      background: transparent;
      background: crimson;
      font-weight: 600;
      color: #fff;
      border-radius: 3px;
    }

    button:nth-child(2) {
      appearance: none;
      border: none;
      background: transparent;
      background: green;
      font-weight: 600;
      color: #fff;
      border-radius: 3px;
    }
  }
  &.dark {
    background-color: $dark-secondary;
    color: $light-text;
    box-shadow: $subtle-box-shadow-dark;

    .current-subreddit-banner-stack {
      .search-value {
        color: $light-text;
        border-left: cornflowerblue solid 3px;
        span {
        }
      }
    }
  }
}
