@import "./utilities/variables";

.App {
  min-height: 100%;
  // height: auto;

  main {
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
    width: calc(100% - 20px);
    max-width: 1100px;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    padding: 0px 10px;
  }

  .loading {
    margin: 0;
  }

  &.dark {
    background-color: $dark-primary;
    main {
      background-color: $dark-primary;
    }
  }
}
