.App{
  min-height: 100%;
  // height: auto;

  main{
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.loading{
  margin: 0;
}

  &.dark{
    background-color: #1b1f2b;
    main{
      background-color: #1b1f2b;
    }
  }
}
