/* html, body, #root{
  min-height: 100% !important;
  box-sizing: border-box;
} */

html,
body {
  margin: 0;

  padding: 0;

  min-width: 100%;
  width: 100%;
  max-width: 100%;

  min-height: 100%;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

* {
  transition: background 60ms ease;
}

#root {
  min-height: 100%;
  height: 1px;
}
body {
  background-color: #f0f2f5;
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
