/* html, body, #root{
  min-height: 100% !important;
  box-sizing: border-box;
} */


html,
body {
  margin: 0;

  padding: 0;

  min-width: 100%;
  width: 100%;
  max-width: 100%;

  min-height: 100%;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

#root {
  min-height: 100%;
  height: 1px;
}

body[data-theme="light"] {
  --color-text: #1a202c;
  --color-text-secondary: #718096;
  --color-bg-primary: #f0f2f6;
  --color-bg-secondary: #fff;
  --color-bg-interactive: #f0f2f6;
  --color-bg-interactive-hover: #e5e7eb;
  --color-link: #0079d3;
  --color-border: #050c1349 ;
  --subtle-box-shadow: 0 1px 2px #00000033;
  --heavy-box-shadow: 2px 2px 5px #0000001e;
}

body[data-theme="dark"] {
  --color-text: #ffffffde;
  --color-text-secondary: #aab3be;
  --color-bg-primary: #333333;
  --color-bg-secondary: #444444;
  --color-bg-interactive: #555;
  --color-bg-interactive-hover: #ffffff29;
  --color-link: orange;
  // --color-bg-interactive-hover: #ffffff29;
  --color-border: #b3bdc97a;
  --subtle-box-shadow: 0 1px 2px #000000;
  --heavy-box-shadow: 2px 2px 5px #0000003e;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-primary);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
