@import "../../utilities/variables";

.log-in-prompt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $dark-text;
  text-decoration: none;
  padding: 7px 15px;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid $border-lighter;
  border-radius: 5px;
  gap: 10px;

  p {
    margin: 0;
  }

  @media screen and (max-width: $mobile-bp) {
    flex-direction: column;
  }
}

.log-in-prompt__buttons {
  display: flex;
  gap: 10px;
}

.log-in-prompt a {
  color: $dark-text;
  padding: 5px;
  // background: $light-mode-interactive;
  border-radius: 3px;
  filter: drop-shadow(1px 1px 1px #18181810);
  text-decoration: none;
  transition: 0.15s ease background;
}

.log-in-prompt a:hover {
  background: $light-mode-interactive;
}

.dark .log-in-prompt {
  color: $light-text;
  border: 1px solid $border-lighter;
}

.dark .log-in-prompt a {
  color: $light-text;
  padding: 5px;
  text-decoration: none;
}

.dark .log-in-prompt a:hover {
  background: $dark-mode-interactive;
}
