@import "../../../utils/variables";

.mobile-subreddit-selector {
  display: none;
  width: 100%;
  // padding-left: 5px;

  label {
    color: var(--color-text-secondary);
    text-decoration: none;
    font-size: 0.875rem;
  }

  select {
    border:0;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 1rem;
    position: relative;
    width: 100%;
    appearance: none;
    box-shadow: var(--subtle-box-shadow);
    -webkit-appearance: none;
    background-color: var(--color-bg-secondary);
    background-image: linear-gradient(
            45deg,
            transparent 50%,
            var(--color-border) 50%
          ),
          linear-gradient(135deg, var(--color-border) 50%, transparent 50%);
        background-position: calc(100% - 20px) calc(0.55em + 2px),
          calc(100% - 15px) calc(0.55em + 2px);
        background-size: 5px 5px, 5px 5px;
        background-repeat: no-repeat;
    color: var(--color-text);
    cursor: pointer;
  }
}

@media screen and (max-width: $mobile-bp) {
  .mobile-subreddit-selector {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 20px;
  }
}
