@import '../../utilities/variables';

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;

  @keyframes up-and-down {
    to {
      opacity: .3;
      transform: translateY(-10px);
    }
  }

  .one, .two, .three {
    height: 12px;
    width: 12px;
    background: $dark-primary;
    border-radius: 99px;
    animation: up-and-down .3s infinite alternate;
  }

  .two {
    animation-delay: .1s;
  }

  .three {
    animation-delay: .2s;
  }

  &.dark {
    .one, .two, .three {
      background: $light-primary;
    }
  }
}