$lmText: #1a202c;
$lmLightText: #718096;
$lmSecondaryText: #73777c;
$lmPrimaryBackground: #cbd5df;
$lmSecondaryBackground: #f8fafc;
$lmBorderInitial: #cbd5e0;
$lmBorderHover: #a0a9b3;

$dmText: rgba(255, 255, 255, 0.87);
$dmSecondaryText: #aab3be;
$dmPrimaryBackground: #1b1f2b;
$dmSecondaryBackground: #2e3748;
$dmHover: #ffffff29;
$dmBorderInitial: #61676d;
$dmBorderHover: #b3bdc9;

.comments-list{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .no-comments-prompt{
    margin: 0;
    font-size: 0.9rem;
    a{
      color: #0079d3;
    }
  }
}