@import "../../../utils/variables";

.comments-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .no-comments-prompt {
    margin: 0;
    font-size: 0.9rem;
    a {
      color: #0079d3;
    }
  }
}
