@import "../../../utils/variables";

footer {
  padding: 30px;
  padding-top: 100px;
  background-color: var(--color-bg-primary);

  .container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
      font-size: 0.9rem;
      color: var(--color-text);
    }

    .created-by {
      
      font-weight: 600;
      margin-bottom: 10px;
    }

    .github {
      a {
        color: var(--color-link);
        font-weight: 500;
      }
    }
  }
}
