@import "../../../utils/variables";

.post-list-main {
  width: 100%;
  min-height: 100%;
  padding-top: 98px;
  padding-bottom: 100px;
  .post-list-container {
    width: 100%;
    .post-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
    }
  }
}

@media screen and (max-width: $mobile-bp) {
  .post-list-main {
    padding-top: 78px;
  }
}
