@import "../../utilities/variables";

.user-comment {
  width: 100%;
  margin-top: 15px;
  
  p {
     
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: var(--color-text-secondary);
    span {
      font-weight: 600;
    }
  }

  form {
    -webkit-appearance: none;
    textarea {
      width: calc(100% - 30px);
      height: 60px;
      resize: vertical;
      border: 0;
      padding: 15px;
      border-radius: 5px;
      font-family: inherit;
      background-color: var(--color-bg-secondary);;
      border: 1px solid var(--color-border);
      color: var(--color-text);
      font-size: 1rem;
    }
    .comment-button,
    .cancel-button {
      appearance: none;
      border: none;
      margin-top: 10px;
      padding: 8px;
      border-radius: 5px;
      font-weight: 600;
      font-size: 1rem;
      background-color: transparent;
      transition: background-color 0.1s ease;
      cursor: pointer;
      margin-right: 10px;
      font-size: 0.9rem;
      padding: 4px;
      color: var(--color-text-secondary);

      &:hover {
        background-color: var(--color-bg-interactive-hover);
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  
}
