@import "../../utilities/variables";

.post {
  border-radius: 4px;
  background-color: var(--color-bg-secondary);
  text-decoration: none;
  padding: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  box-shadow: var(--subtle-box-shadow);

  .votes-section {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding-right: 25px;
    gap: 7px;
     

    .votes-count {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  .post-main-section {
    width: 100%;
    display: flex;
    flex-direction: column;

    .vote-error {
      font-size: 0.875rem;
      margin: 0;
      margin-bottom: 10px;
      color: #f58180;
    }

    .post-metadata {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      color: var(--color-text-secondary);
      font-size: 0.75rem;

      .subreddit {
        margin: 0;
        font-weight: 700;
        white-space: nowrap;
      }

      .post-subreddit-link {
        color: inherit;
        font-weight: 700;
        margin: 0;
        margin-right: 10px;
        white-space: nowrap;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .posted-by-span {
        margin-right: 3px;
        white-space: nowrap;

        .user {
        }
      }

      .time-ago-span {
        white-space: nowrap;
      }
    }

    .link-title {
      margin-top: 8px;
      appearance: none;
      font-size: 1.125rem;
      font-weight: 600;
      color: var(--color-link);
    }

    .title-and-body {
      margin-top: 8px;
      .post-title {
        appearance: none;
        color: var(--color-text);
        text-decoration: none;
        font-size: 1.125rem;
        font-weight: 500;
      }
    }

    .post-body {
      margin-top: 8px;
      display: flex;
      gap: 5px;
      font-size: 0.875rem;
      .edit-post-form {
        width: calc(100% - 20px);
        textarea {
          width: 100%;
          height: 100px;
          font-family: inherit;
          font-size: 0.9rem;
          resize: vertical;
          border: 1px solid var(--color-border);
          border-radius: 5px;
          padding: 10px;
          transition: border-color 0.15s ease;
          background-color: transparent;

          &:hover {
            border: 1px solid var(--color-border);
          }
        }
        .save-and-cancel {
          display: flex;
          gap: 10px;
          width: 100%;
          justify-content: flex-start;
          background-color: var(--color-bg-secondary);

          button {
            appearance: none;
            border: none;
            margin-top: 5px;
            padding: 8px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 1rem;
            background-color: transparent;
            transition: background-color 0.1s ease;
            cursor: pointer;
            margin-right: 10px;
            font-size: 0.9rem;
            padding: 4px;
            color: var(--color-text-secondary);

            &:hover {
              background-color: var(--color-bg-interactive-hover);
            }

            &:disabled {
              @include disabled-button;
            }

            &:disabled:hover,
            &:disabled:focus {
              @include disabled-button;
            }
          }
        }
      }

      .post-body-text {
        white-space: pre-wrap;
        color: var(--color-text);
        margin: 0;
      }
    }
  }

  .posted-user-accessable-options {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 8px;
    button {
      padding: 0;
      padding: 4px;
      border: none;
      border-radius: 5px;
      transition: background-color 0.1s ease;
      background-color: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--color-text-secondary);
      font-weight: 600;
      .edit-icon,
      .delete-icon {
        width: 100%;
        max-width: 14px;
        stroke: var(--color-text-secondary);
        fill: var(--color-text-secondary);
      }

      &:hover {
        background-color: var(--color-bg-primary);
      }
    }
  }

  @media screen and (max-width: $mobile-bp) {
    padding: 15px 10px;
  }
}