$lmText: #181818;
$lmPrimaryBackground: #cbd5df;
$lmSecondaryBackground: #f8fafc;

$dmText: rgba(255, 255, 255, 0.87);
$dmPrimaryBackground: #181818;
$dmSecondaryBackground: #252525;
$dmSecondaryHover: #333;

.post {
  border-radius: 5px;
  background-color: $lmSecondaryBackground;
  text-decoration: none;
  color: $lmText initial;
  padding: 30px;
  display: flex;
  flex-direction: column;
  .post-title {
    appearance: none;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
  }
  a{
    color: #0079d3;
  }
  .post-body {
    margin: 0;
    margin: 0;
  }
  .post-created-at {
    margin: 0;
  }
}


.dark .post {
  background-color: $dmSecondaryBackground;
  .post-title {
    color: $dmText;
  }
  .post-body {
    color: $dmText;
  }
  .post-created-at {
    color: $dmText;
  }
}
