@import '../../utilities/variables';

.new-post{
  height: 100%;
  width: 100%;
  padding-top: 100px;
  // padding: 100px 20px 0 20px;
  // max-width: 750px;

  .new-post-container{
    width: 100%;
    margin: 0;
    form{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      // margin: 0 auto;
      gap: 10px;
      .both-radio-inputs{
        display: flex;
        gap: 10px;
        .post-type-buttons{
          display: flex;
          align-items: center;
          .post-type-button{
            text-decoration: none;
            color: #181818;
            padding: 3px 8px;
            border-radius: 3px;
            border: none;
            // height: 17px;
            // width: 17px;
            margin-right: 10px;
            // border: 1px lightgrey solid;
            font-size: 1rem;
          }
          .clicked{
            background-color: #0073d1;
            color: #fff;
          }
        }
      }
      .new-post-input{
        resize: vertical;
        font-size: 0.875rem;
        border: none;
        background-color: $light-secondary;
        padding: 8px 10px;
        border-radius: 5px;
      }
      textarea{
        height: 150px;
        font-size: 1rem;
        font-family: inherit;
        font-size: 0.875rem;

      }
      select{
        font-size: 1rem;
        border: none;
        background-color: $light-secondary;
        padding: 8px 10px;
        border-radius: 5px;
        font-size: 0.875rem;

      }
      .new-post-submit{
        align-self: flex-start;
        background-color: transparent;
        font-weight: 600;
        color: $dark-text;
        font-size: 1rem;
        border: none;
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;

        &:disabled{
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
}

.dark{
  .new-post-container{  
    form{
      .both-radio-inputs{
        .post-type-buttons{
          .post-type-button{
            color: $light-text;
          }
          .clicked{
          }
        }
      }
      .new-post-input{
        background-color: $dark-secondary;
      }
      input, textarea, select{
        color: $light-text;
      }
      select{
        background-color: $dark-secondary;
      }
      .new-post-submit{
        // background-color: $dark-secondary;
        color: $light-text;

        &:disabled{
          opacity: 0.5;
          cursor: initial;
        }
      }
    }
  }
}