$dmText: #fff;
$dmPrimaryBackground: #181818;
$dmSecondaryBackground: #252525;
$dmSecondaryHover: #333;

.new-post{
  height: 100%;
  .new-post-container{
    padding-top: 100px;
    form{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 500px;
      margin: 0 auto;
      gap: 15px;
      .both-radio-inputs{
        display: flex;
        gap: 10px;
        .post-type-buttons{
          display: flex;
          align-items: center;
          .post-type-button{
            border-radius: 3px;
            border: none;
            // height: 17px;
            // width: 17px;
            margin-right: 10px;
            border: 1px lightgrey solid;
            font-size: 1rem;
          }
          .clicked{
            background-color: #0073d1;
            color: #fff;
          }
        }
      }
      .new-post-input{
        resize: vertical;
        padding: 5px 10px;
        font-size: 1rem;
        border: none;
        background-color: #efefef;
      }
      textarea{
        height: 150px;
        font-size: 1rem;
      }
      select{
        padding: 5px 10px;
        font-size: 1rem;
        border: none;
        background-color: #efefef;
      }
      .new-post-submit{
        align-self: flex-start;
        background-color: #181818;
        color: #fff;
        border: none;
        padding: 5px;
        border-radius: 3px;
      }
    }
  }
}

.dark{
  .new-post-container{  
    form{
      .both-radio-inputs{
        .post-type-buttons{
          .post-type-button{
          }
          .clicked{
          }
        }
      }
      .new-post-input{
        background-color: $dmSecondaryBackground;
      }
      textarea{
      }
      select{
        background-color: $dmSecondaryBackground;
      }
      .new-post-submit{
        background-color: $dmSecondaryBackground;
      }
    }
  }
}