@import "../../utilities/variables";

.new-post {
  height: 100%;
  width: 100%;
  padding-top: 100px;

  .new-post-container {
    width: 100%;
    margin: 0;
    form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      -webkit-appearance: none;
      gap: 10px;
      .both-radio-inputs {
        display: flex;
        gap: 10px;
        .post-type-buttons {
          display: flex;
          align-items: center;
          .post-type-button {
            text-decoration: none;
            color: var(--color-text);
            padding: 3px 8px;
            border-radius: 3px;
            border: none;
            margin-right: 10px;
            font-size: 1rem;
          }
          .clicked {
            background-color: #0073d1;
            color: #fff;
          }
        }
      }
      .new-post-input {
        resize: vertical;
        font-size: 1rem;
        border: none;
        background-color: var(--color-bg-secondary);
        color: var(--color-text);
        padding: 8px 10px;
        border-radius: 5px;
        box-shadow: var(--subtle-box-shadow);
      }
      textarea {
        height: 150px;
        font-size: 1rem;
        font-family: inherit;
        font-size: 0.875rem;
        box-shadow: var(--subtle-box-shadow);
        color: var(--color-text);
      }
      select {
        // border: var(--color-border) solid 1px;
        border: 0;
        box-shadow: var(--subtle-box-shadow);
        background-color: var(--color-bg-secondary);
        color: var(--color-text);
        border-radius: 3px;
        padding: 5px;
        font-size: 1rem;
        position: relative;
        width: 100%;
        appearance: none;
        -webkit-appearance: none;
        background-image: linear-gradient(
            45deg,
            transparent 50%,
            var(--color-border) 50%
          ),
          linear-gradient(135deg, var(--color-border) 50%, transparent 50%);
        background-position: calc(100% - 20px) calc(0.55em + 2px),
          calc(100% - 15px) calc(0.55em + 2px);
        background-size: 5px 5px, 5px 5px;
        background-repeat: no-repeat;
      }
      .new-post-submit {
        align-self: flex-start;
        background-color: transparent;
        font-weight: 600;
        color: var(--color-text-secondary);
        font-size: 1rem;
        border: none;
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;

        &:disabled {
          @include disabled-button;
        }
      }
    }
  }
}
