@import '../../utilities/variables';


.sidebar{
  // padding-top: 65px;
  margin-top: 78px;
  // background-color: #fff;
  min-height: calc(100% - 180px);
  width: 100%;
  max-width: 250px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .no-user-error {
    color: $dark-text;
    font-size: 0.875rem;
    font-weight: 500;
    background: $light-secondary;
    padding: 10px;
    border-radius: 3px;
    margin: 0;

    a{
      color: inherit;
    }

    span {
      font-weight: 600;
      font-style: italic;
    }
  }

  .sidebar-buttons{
    display: flex;
    flex-direction: column;
    gap: 8px;

    .post-and-link-buttons{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 8px;

      .new-post-sidebar, .new-link-sidebar{
        padding: 5px;
        color: $dark-text;
        font-weight: 500;
        text-decoration: none;
        border-radius: 3px;
        text-align: center;

        &:hover{
          text-decoration: underline;
        }
      }

      .new-post-sidebar, .new-link-sidebar{
        background-color: $light-secondary;
        box-shadow: $subtle-box-shadow;

        &.disabled {
          cursor: not-allowed;
          text-decoration: line-through;
          // opacity: 0.6;
    
          &:hover {
            text-decoration: line-through;
            text-decoration-thickness: 2px;
          }
        }
      }
    }
    .create-subreddit{
      padding: 5px;
      width: calc(100% - 10px);
      color: black;
      background-color: $light-secondary;
      box-shadow: $subtle-box-shadow;
      font-weight: 500;
      text-decoration: none;
      border-radius: 3px;
      text-align: center;

      &:hover{
        text-decoration: underline;
      }

      &.disabled {
        cursor: not-allowed;
        text-decoration: line-through;
  
        &:hover {
          text-decoration: line-through;
          text-decoration-thickness: 2px;
        }
      }
    }

    .disabled {
      cursor: not-allowed;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .subreddit-lists{
    display: flex;
    flex-direction: column;
    gap: 8px;

    .subreddit-list-label-main{
      margin: 0;
      font-size: 1.2rem;
      font-weight: 600;
      margin-top: 20px;
      text-decoration: underline;
    }

    .subreddit-list-label{
      margin: 0;
      font-size: 1.2rem;
      font-weight: 600;
      margin-top: 20px;
    }

    .subreddit-link{
      text-decoration: none;
      color: inherit;
      color: $dark-text;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  &.dark{

    .no-user-error {
      color: $light-text;
      background-color: $dark-secondary;
    }

    .sidebar-buttons{
      .post-and-link-buttons{
        .new-post-sidebar, .new-link-sidebar{
          background-color: $dark-secondary;
          color: $light-text;
        }
        .new-post-sidebar{}
        .new-link-sidebar{}
      }
      .create-subreddit{
        background-color: $dark-secondary;
        color: $light-text;
      }
    }
  
    .subreddit-lists{
      .subreddit-list-label-main, .subreddit-list-label{
        color: $light-text;
      }
      .subreddit-link{
        color: $light-text;
        &:hover{}
      }
    }
  }

  @media screen and (max-width: $mobile-bp) {
    display: none;
  }
}