@import "../../../utils/variables";

.no-posts-prompt {
  border-radius: 4px;
  background-color: var(--color-bg-secondary);
  text-decoration: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  box-shadow: var(--subtle-box-shadow);
  gap: 15px;

  h3,
  p {
    margin: 0;
    color: var(--color-text);
  }

  p a {
    color: var(--color-link);
  }
}
