$mobile-bp: 767px;
$tablet-bp: 940px;

@mixin button {
  align-self: flex-start;
  background-color: transparent;
  font-weight: 600;
  color: var(--color-text);
  font-size: 0.9rem;
  border: none;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--color-bg-secondary);
  box-shadow: var(--subtle-box-shadow);
  padding: 8px 10px;
  margin-top: 5px;
}

@mixin button_disabled {
  color: var(--color-text-disabled);
  cursor: not-allowed;
}

@mixin button_on_background {
  border: 1px solid var(--color-border);
}