@import '../../utilities/variables';

.single-post-page{
  width: 100%;
  padding: 10px;
  margin-top: 98px;
  border-radius: 4px;
  background-color: $light-secondary;
  height: fit-content;
  .single-post-page-container{
    display: flex;
    flex-direction: column;

    .post{
      padding: 0;
      margin-bottom: 15px;
    }

    .post-not-found-p{
      color: $dark-text;    
      .post-not-found-link{
      color: #181818;
      margin: 0 auto;
      margin-left: 5px;
    }
    }
  } 

  &.dark{
    background-color: $dark-secondary;

    .single-post-page-container{
      
      .post-not-found-p{
        color: $light-text;    
        .post-not-found-link{
        color: #fff;
        margin: 0 auto;
        margin-left: 5px;
      }
      }
    } 
  }
  
  @media screen and (max-width: $mobile-bp) {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}