$lmText: #1b1f2b;
$lmPrimaryBackground: #cbd5df;
$lmSecondaryBackground: #f8fafc;

$dmText: rgba(255, 255, 255, 0.87);
$dmPrimaryBackground: #1b1f2b;
$dmSecondaryBackground: #2e3748;
$dmHover: #ffffff29;

.single-post-page{
  width: calc(100% - 40px);
  padding: 20px;
  max-width: 750px;
  margin-top: 98px;
  // margin-right: 270px;
  // padding-top: 98px;
  // min-height: 100vh;
  border-radius: 4px;
  background-color: $lmSecondaryBackground;
  .single-post-page-container{
    // padding-top: 50px;
    // margin: 20px auto 0 auto;
    // padding: 20px;
    // width: 100%;
    display: flex;
    flex-direction: column;
    // background-color: $dmHover;

    .post{
      padding: 0;
      margin-bottom: 15px;
    }

    .post-not-found-p{
      color: $lmText;    
      .post-not-found-link{
      color: #181818;
      margin: 0 auto;
      margin-left: 5px;
    }
    }
  } 

  &.dark{
    background-color: $dmSecondaryBackground;

    .single-post-page-container{
      // padding-top: 50px;
      
      .post-not-found-p{
        color: $dmText;    
        .post-not-found-link{
        color: #fff;
        margin: 0 auto;
        margin-left: 5px;
      }
      }
    } 
  }
  
}