$lmText: #1b1f2b;
$lmPrimaryBackground: #cbd5df;
$lmSecondaryBackground: #f8fafc;

$dmText: rgba(255, 255, 255, 0.87);
$dmPrimaryBackground: #1b1f2b;
$dmSecondaryBackground: #2e3748;
$dmHover: #ffffff29;

.single-post-page{
  padding-top: 78px;
  padding-bottom: 100px;
  .single-post-page-container{
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;

    .post-not-found-p{
      color: $lmText;    
      .post-not-found-link{
      color: #181818;
      margin: 0 auto;
      margin-left: 5px;
    }
    }
  } 

  &.dark{
    .single-post-page-container{
      padding-top: 50px;
      margin: 0 auto;
      
      .post-not-found-p{
        color: $dmText;    
        .post-not-found-link{
        color: #fff;
        margin: 0 auto;
        margin-left: 5px;
      }
      }
    } 
  }
  
}