$lmHover: #cbd5df;
$lmText: #1a202c;
$dmText: rgba(255, 255, 255, 0.87);
$dmHover: #ffffff29;


.votes-section {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // min-height: 100%;
  padding-right: 0;
  gap: 7px;

  .votes-count {
    font-size: 1rem;
    font-weight: 500;
    color: #718096;
  }

  button {
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    color: #718096;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;

    &:hover {
      background-color: $lmHover;
    }
  }

  .up-vote {
    .up-arrow{
      max-width: 15px;
      height: auto;
      fill: #718096;

      &.selected{
        fill: #f74309;
      }
    }
  }

  .down-vote {
    .down-arrow{
      max-width: 15px;
      height: auto;
      fill: #718096;

      &.selected{
        fill: #8d8df6;
      }
    }
  }

  &.dark {
    // background-color: #2e3748;
    background-color:transparent;
    
      .votes-count{
        color: $dmText;
      }
  
      button {
        // background-color: transparent;
        border: none;
        // color: $dmText;
        cursor: pointer;
        // color: $dmText;
  
        &.up-vote {
          color: $dmText;

          .up-arrow{
            fill: $dmText;          
            
            &.selected{
              fill: orange;
            }
          }


        }
  
        &.down-vote {
          color: $dmText;

          .down-arrow{
            fill: $dmText;

            &.selected{
              fill: teal;
            }
          }
        }
  
        &:hover {
          background-color: $dmHover;
        }
      }
    
  }
}