$lmHover: #cbd5df;
$lmText: #1a202c;
$dmText: rgba(255, 255, 255, 0.87);
$dmHover: #ffffff29;


.votes-section {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  padding-right: 35px;
  gap: 5px;

  .votes-count {
    font-size: 1.3rem;
    font-weight: 500;
  }

  button {
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    color: $lmText;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: $lmHover;
    }
  }

  .up-vote {

    .up-arrow{
      max-width: 20px;
      height: auto;
      fill: $lmText;

      &.selected{
        fill: orange;
      }
    }
  }

  .down-vote {

    .down-arrow{
      max-width: 20px;
      height: auto;
      fill: $lmText;

      &.selected{
        fill: teal;
      }
    }
  }

  &.dark {
    background-color: #2e3748;
    
      .votes-count{
        color: $dmText;
      }
  
      button {
        // background-color: transparent;
        border: none;
        // color: $dmText;
        cursor: pointer;
        // color: $dmText;
  
        &.up-vote {
          color: $dmText;

          .up-arrow{
            fill: $dmText;          
            
            &.selected{
              fill: orange;
            }
          }


        }
  
        &.down-vote {
          color: $dmText;

          .down-arrow{
            fill: $dmText;

            &.selected{
              fill: teal;
            }
          }
        }
  
        &:hover {
          background-color: $dmHover;
        }
      }
    
  }
}