@import "../../utilities/variables";

.votes-section {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-right: 0;
  gap: 7px;

  .votes-count {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-text-secondary);
  }

  button {
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    color: var(--color-text-secondary);
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;

    &:hover {
      background-color: var(--color-bg-interactive-hover);
    }
  }

  .up-vote {
    .up-arrow {
      max-width: 15px;
      height: auto;
      fill: var(--color-text-secondary);

      &.selected {
        fill: #f74309;
      }
    }
  }

  .down-vote {
    .down-arrow {
      max-width: 15px;
      height: auto;
      fill: var(--color-text-secondary);

      &.selected {
        fill: #8d8df6;
      }
    }
  }
}
