@import "../../utilities/variables";

.create-subreddit {
  height: 100%;
  width: 100%;
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 0 auto;
    padding-top: 100px;
    input {
      width: calc(100% - 30px);
      padding: 10px 15px;
      border: none;
      background-color: $light-secondary;
      box-shadow: $subtle-box-shadow-light;
      border-radius: 5px;
      font-size: 1rem;
    }
    textarea {
      width: calc(100% - 30px);
      padding: 10px 15px;
      resize: vertical;
      height: 150px;
      border: none;
      background-color: $light-secondary;
      box-shadow: $subtle-box-shadow-light;

      font-family: inherit;
      border-radius: 5px;
      font-size: 1rem;
    }
    button {
      padding: 5px;
      font-size: 1rem;
      font-weight: 600;
      border: none;
      border-radius: 3px;
      background-color: transparent;
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}

.dark {
  form {
    input,
    textarea {
      background-color: $dark-secondary;
      color: $light-text;
      box-shadow: $subtle-box-shadow-dark;
    }

    button {
      color: $light-text;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
