@import '../../utilities/variables';

.create-subreddit{
  height: 100%;
  width: 100%;
  // max-width: 750px;
  // padding: 0 20px;
  form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // max-width: 500px;
    
    gap: 10px;
    margin: 0 auto;
    // margin-top: 100px;
    padding-top: 100px;
    input{
      width: calc(100% - 30px);
      padding: 10px 15px;
      border: none;
      background-color: $light-secondary;
      border-radius: 5px;
      font-size: 0.875rem;
    }
    textarea{
      width: calc(100% - 30px);
      padding: 10px 15px;
      resize: vertical;
      height: 150px;
      border: none;
      background-color: $light-secondary;
      font-family: inherit;
      border-radius: 5px;
      font-size: 0.875rem;

    }
    button{
      // width: 100%;
      padding: 5px;
      font-size: 1rem;
      font-weight: 600;
      border: none;
      // align-self: center;
      border-radius: 3px;
      background-color: transparent;
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}

.dark{
  form{
    input, textarea {
      background-color: $dark-secondary;
      color: $light-text;
    }

    button {
      color: $light-text;
      opacity: 0.5;
    }
    // textarea{
    //   background-color: $dark-secondary;
    //   color: $light-text;
    // }
    // button{
    //   background-color: $dark-secondary;
    //   color: $light-text;
    // }
  }
}