@import "../../../utils/variables";

.error-popup-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  background-color: var(--color-bg-primary);
  box-shadow: var(--subtle-box-shadow);
   
  border-radius: 3px;
  border: 1px solid var(--color-border);

  img {
    width: 20px;
  }

  .error-message {
    margin: 0;
    font-size: 0.9rem;
    color: var(--color-text);
    font-weight: 600;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0;
    font-weight: 400;
    // font-weight: 800;
    font-size: 1.1rem;
    border-radius: 2px;
    cursor: pointer;
  }

  button:hover {
    background: hsl(0, 0%, 75%);
  }
}
