@import "../../../utils/variables";

.comment-thread {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background: var(--color-bg-secondary);

  .comment {
    background-color: var(--color-bg-secondary);

    padding: 10px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;

    .comment-main-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .vote-error {
        font-size: 0.875rem;
        margin: 0;
        margin-bottom: 10px;
        color: #f58180;
      }
      .comment-metadata {
        margin: 0;
        color: var(--color-text-secondary);
        display: flex;
        align-items: center;
        .user {
          white-space: nowrap;

          font-weight: 600;
          margin-right: 10px;
        }

        .time-ago {
          white-space: nowrap;
          font-size: 0.9rem;
          font-weight: 500;
        }
      }

      .comment-body {
        .edit-comment-form {
          textarea {
            width: 100%;
            height: 60px;
            font-family: inherit;
            font-size: 0.9rem;
            resize: vertical;
            border: 1px solid var(--color-border);
            border-radius: 5px;
            padding: 10px;
            transition: border-color 0.15s ease;
            background-color: transparent;

            &:hover {
              border: 1px solid var(--color-border);
            }
          }
          .save-and-cancel {
            display: flex;
            gap: 10px;
            width: 100%;
            justify-content: flex-start;
            background: var(--color-bg-secondary);

            button {
              appearance: none;
              border: none;
              margin-top: 5px;
              padding: 8px;
              border-radius: 5px;
              font-weight: 600;
              font-size: 1rem;
              background-color: transparent;
              transition: background-color 0.1s ease;
              cursor: pointer;
              margin-right: 10px;
              font-size: 0.9rem;
              padding: 4px;
              color: var(--color-text-secondary);

              &:hover {
                background-color: var(--color-bg-interactive-hover);
              }

              &:disabled {
                @include disabled-button;
              }
            }
          }
        }

        .comment-body-text {
          white-space: pre-wrap;
          margin: 0;
          font-size: 0.875rem;
          color: var(--color-text);
        }
      }

      .comment-buttons {
        display: flex;
        gap: 10px;

        .comment-button {
          color: var(--color-text-secondary);
          display: flex;
          align-items: center;
          border: none;
          font-size: 0.8rem;
          font-weight: 600;
          border-radius: 5px;
          background-color: transparent;
          transition: background-color 0.1s ease;
          cursor: pointer;
          display: flex;
          gap: 8px;
          flex-direction: row;
          padding: 3px 5px;

          svg {
            width: 100%;
            min-width: 14px;
            max-width: 14px;
          }

          .edit-icon {
            stroke: var(--color-text-secondary);
          }

          .delete-icon {
            fill: var(--color-text-secondary);
          }

          .comment-button {
            width: 100%;
            min-width: 14px;
            max-width: 14px;
            padding: 3px 5px;
            stroke: var(--color-text);
            fill: var(--color-text);
          }

          &:hover {
            background-color: var(--color-bg-interactive-hover);
          }
        }

        @media screen and (max-width: $mobile-bp) {
          gap: 15px;

          .comment-button {
            // padding: 0;
            gap: 0;
            font-size: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            .comment-icon,
            .edit-icon,
            .delete-icon {
              width: 100%;
              align-self: center;
            }
          }
        }
      }
    }
  }

  .nested-comment {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .bar-and-comment {
      display: flex;

      .bar-parent {
        min-height: calc(100% - 15px);
        width: auto;
        padding-right: 15px;
        .bar {
          cursor: pointer;
          min-height: 100%;
          max-height: calc(100% - 15px);
          background-color: var(--color-border);
          border-left: 2px var(--color-border) solid;

          &:hover {
            background-color: orange;
            border-left: 2px orange solid;
          }
        }
      }

      .comment {
        width: 100%;
      }
    }

    .replies-toggle {
      background-color: transparent;
      margin: 0;
      font-weight: 600;
      padding-bottom: 10px;
      cursor: pointer;
      height: 20px;
      padding: 0;
      border: none;
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--color-text);
      justify-content: flex-start;

      .expand-thread-icon {
        height: 14px;
        width: 14px;
        min-width: 14px;
        stroke: transparent;
        fill: var(--color-text);
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
