@import "../../../utils/variables";

.single-post-page {
  width: 100%;
  margin-top: 98px;

  .back-button-and-subreddit-select {
    display: flex;
    align-items: center;
    gap: 10px;

    .back-button {
      background: transparent;
      border: 0;
      padding: 0;
      height: 30px;
      width: 30px;

      .back-icon {
        width: 100%;
        height: auto;
      }
    }
  }

  .single-post-page-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--color-bg-secondary);
    box-shadow: var(--subtle-box-shadow);
    height: fit-content;

    .post {
      padding: 0;
      margin-bottom: 15px;
      box-shadow: none;
    }

    .post-not-found-p {
      .post-not-found-link {
        color: #181818;
        margin: 0 auto;
        margin-left: 5px;
      }
    }
  }
}
