@import "../../utilities/variables";

.nav {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 3;
  box-shadow: $heavy-box-shadow-light;

  .nav-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .home-search-darkicon {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      .nav-home-link {
        text-decoration: none;
        color: black;
        font-weight: 700;
        font-size: 2rem;
        white-space: nowrap;
        margin-right: 5px;
        // span {
        //   font-size: 1.3rem;
        // }
      }



      .dark-mode-icon-parent {
        appearance: none;
        border: none;
        padding: 0;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .dark-mode-icon {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          fill: black;
          width: 30px;
        }
      }
    }

    .subreddit-dropdown-toggle-button,
    .new-post-link {
      border: none;
      padding: 10px;
      font-size: 1rem;
      transition: background-color 0.1s ease;
      margin-left: 15px;
      color: black;
      background-color: $light-mode-interactive;
      text-decoration: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: $light-primary;
      }
    }

    .subreddit-dropdown-toggle-button {
      display: flex;

      .down-arrow {
        width: 20px;
        margin-left: 10px;
      }
    }

    .nav-menu {
      display: flex;

      .logged-out-nav-view {
        display: flex;
        gap: 10px;
        a {
          color: black;
          text-decoration: none;
        }
      }

      .overlay {
        background-color: $dark-primary;
        width: 100%;
        height: 100%;
        position: fixed;
        inset: 0;
        z-index: 2;
        opacity: 0.7;
      }

      .logged-in-nav-view {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: relative;
        z-index: 4;



        .nav-username-button {
          display: flex;
          align-items: center;
          border: none;
          padding: 5px 10px;
          font-size: 1rem;
          font-weight: 500;
          transition: background-color 0.1s ease;
          border-radius: 5px;
          background-color: $light-mode-interactive;
          cursor: pointer;

          .down-arrow {
            width: 20px;
            margin-left: 10px;
          }

          &:hover {
            background-color: $light-primary;
          }
        }
        .user-dropdown {
          transition: all 0.15s ease;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          background: #fff;
          border: $border-lighter solid 1px;
          box-shadow: $heavy-box-shadow-light;
          padding: 10px 0;
          position: absolute;
          top: 45px;
          right: 0;
          min-width: 220px;
          border-radius: 5px;

          a {
            padding: 10px;
            text-decoration: none;
            color: black;
            transition: background-color 0.1s ease;
            width: calc(100% - 20px);
            text-align: start;

            &:hover {
              background-color: $light-hover;
            }
          }
          .logout-button {
            border: none;
            background: transparent;
            font-size: 1rem;
            padding: 10px;
            width: 100%;
            text-align: start;
            transition: background-color 0.1s ease;
            cursor: pointer;

            &:hover {
              background-color: $light-hover;
            }
          }

          .dropdown-link {
            display: none;
          }
        }
        .open {
          visibility: visible;
          opacity: 1;
        }
        .closed {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }

  &.dark {
    background-color: $dark-secondary;
    color: $light-text;
    box-shadow: $heavy-box-shadow-dark;
    
    .nav-container {
      .home-search-darkicon {
        .nav-home-link {
          color: $light-text;
        }

        .dark-mode-icon-parent {
          .dark-mode-icon {
            fill: #fff;
          }
        }
        .subreddit-dropdown {
          background-color: $dark-secondary;
          a {
            color: $light-text;

            &:hover {
            }
          }
        }
      }

      .subreddit-dropdown-toggle-button,
      .new-post-link {
        color: $light-text;
        background-color: $dark-mode-interactive;
        &:hover {
        }
      }

      .nav-menu {
        .logged-out-nav-view {
          a {
            color: $light-text;
          }
        }

        .logged-in-nav-view {
          .nav-username-button {
            background-color: $dark-mode-interactive;
            color: $light-text;
            &:hover {
            }

            .nav-username-span {
              white-space: nowrap;
            }
          }
          .user-dropdown {
            background-color: $dark-secondary;
            box-shadow: $heavy-box-shadow-dark;
            a {
              color: $light-text;
              &:hover {
                background-color: $dark-hover;
              }
            }
            .logout-button {
              color: $light-text;
              &:hover {
                background-color: $dark-hover;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobile-bp) {
    .nav-container {
      padding: 10px 15px;
    }

    .nav-container .home-search-darkicon .nav-home-link {
      display: none;
    }

    .nav-container .nav-menu .logged-in-nav-view .user-dropdown .dropdown-link {
      display: block;
    }

    .nav-container .nav-username-button .profile-picture {
      margin: 0;
    }

    .nav-container .nav-username-span {
      display: none;
    }
  }

  @media screen and (max-width: $tablet-bp) {
    .nav-container .home-search-darkicon .nav-home-link {
      display: none;
    }
  }
}
