@import '../../utilities/variables';

.register {
  height: 100%;
  width: 100%;
  .register-container {
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    margin-top: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
      margin-top: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;
      gap: 10px;
      .register-input {
        padding: 8px 10px;
        border: none;
        background-color: $light-secondary;
        box-shadow: $subtle-box-shadow;
        padding: 8px 10px;
        border-radius: 5px;
        font-size: 1rem;
      }
      .register-submit {
        width: initial;
        align-self: flex-start;
        background-color: transparent;
        color: $dark-text;
        border: none;
        border-radius: 3px;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
      }
    }

    .already-registered-question{
      font-size: 0.9rem;
      .sign-in-link{
        text-decoration: none;
        margin-left: 5px;
        color: $link-color;
        font-weight: 500;
      }
    }
  }
}

.dark {
  .register-container {
    h2{
      color: $light-text;
    }
    form {
      .register-input {
        color: $light-text;
        background-color: $dark-secondary;
      }
      .register-submit {
        color: $light-text;
        // background-color: $dark-secondary;
      }
    }
    .already-registered-question{
      color: $light-text;
    }
  }
}
