$lmText: #1a202c;
$lmSecondaryText: #73777c;
$lmPrimaryBackground: #cbd5df;
$lmSecondaryBackground: #f8fafc;
$lmBorderInitial: #cbd5e0;
$lmBorderHover: #a0a9b3;
$lmHover: #cbd5df;

$linkColor: #0079d3;

$dmText: rgba(255, 255, 255, 0.87);
$dmSecondaryText: #aab3be;
$dmPrimaryBackground: #1b1f2b;
$dmSecondaryBackground: #2e3748;
$dmHover: #ffffff29;
$dmBorderInitial: #61676d;
$dmBorderHover: #b3bdc9;

.register {
  height: 100%;
  width: 100%;
  .register-container {
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    margin-top: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
      margin-top: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;
      gap: 10px;
      .register-input {
        padding: 8px 10px;
        border: none;
        background-color: #efefef;
        padding: 8px 10px;
        border-radius: 5px;
        font-size: 1rem;
      }
      .register-submit {
        width: initial;
        align-self: flex-start;
        background-color: transparent;
        color: $lmText;
        border: none;
        border-radius: 3px;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
      }
    }

    .already-registered-question{
      font-size: 0.9rem;
      .sign-in-link{
        text-decoration: none;
        margin-left: 5px;
        color: $linkColor;
        font-weight: 500;
      }
    }
  }
}

.dark {
  .register-container {
    h2{
      color: $dmText;
    }
    form {
      .register-input {
        color: $dmText;
        background-color: $dmSecondaryBackground;
      }
      .register-submit {
        color: $dmText;
        // background-color: $dmSecondaryBackground;
      }
    }
    .already-registered-question{
      color: $dmText;
    }
  }
}
