@import "../../utilities/variables";

.register {
  height: 100%;
  width: 100%;
  .register-container {
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    margin-top: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-text);

    h2 {
      margin-top: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;
      gap: 10px;
      .register-input {
        padding: 8px 10px;
        border: none;
        background-color: var(--color-bg-secondary);
        box-shadow: var(--subtle-box-shadow);
        padding: 8px 10px;
        border-radius: 5px;
        font-size: 1rem;
        color: var(--color-text);
      }

      select {
        // border: var(--color-border) solid 1px;
        border: 0;
        color: var(--color-text);
        background-color: var(--color-bg-secondary);
        border-radius: 3px;
        padding: 8px 10px;
        font-size: 1rem;
        position: relative;
        width: 100%;
        appearance: none;
        -webkit-appearance: none;
        background-image: linear-gradient(
            45deg,
            transparent 50%,
            var(--color-border) 50%
          ),
          linear-gradient(135deg, var(--color-border) 50%, transparent 50%);
        background-position: calc(100% - 20px) calc(0.55em + 2px),
          calc(100% - 15px) calc(0.55em + 2px);
        background-size: 5px 5px, 5px 5px;
        background-repeat: no-repeat;
        box-shadow: var(--subtle-box-shadow);
      }

      .register-submit {
        width: initial;
        align-self: flex-start;
        background-color: transparent;
        color: var(--color-text);
        border: none;
        border-radius: 3px;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
      }

      .register-submit:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      .register-submit:hover {

      }
    }

    .already-registered-question {
      font-size: 0.9rem;
      .sign-in-link {
        text-decoration: none;
        margin-left: 5px;
        color: var(--color-link);
        font-weight: 500;
      }
    }
  }
}