@import "../../utilities/variables";

.register {
  height: 100%;
  width: 100%;
  .register-container {
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    margin-top: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      margin-top: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;
      gap: 10px;
      .register-input {
        padding: 8px 10px;
        border: none;
        background-color: $light-secondary;
        box-shadow: $subtle-box-shadow-light;
        padding: 8px 10px;
        border-radius: 5px;
        font-size: 1rem;
      }

      select {
        border: $border-lighter solid 1px;
        border-radius: 3px;
        padding: 8px 10px;
        font-size: 1rem;
        position: relative;
        width: 100%;
        appearance: none;
        -webkit-appearance: none;
        background-image: linear-gradient(
            45deg,
            transparent 50%,
            $dark-primary 50%
          ),
          linear-gradient(135deg, $dark-primary 50%, transparent 50%);
        background-position: calc(100% - 20px) calc(0.55em + 2px),
          calc(100% - 15px) calc(0.55em + 2px);
        background-size: 5px 5px, 5px 5px;
        background-repeat: no-repeat;
      }

      .register-submit {
        width: initial;
        align-self: flex-start;
        background-color: transparent;
        color: $dark-text;
        border: none;
        border-radius: 3px;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
      }
    }

    .already-registered-question {
      font-size: 0.9rem;
      .sign-in-link {
        text-decoration: none;
        margin-left: 5px;
        color: $link-color-light;
        font-weight: 500;
      }
    }
  }
}

.dark {
  .register-container {
    h2 {
      color: $light-text;
    }
    form {
      .register-input {
        color: $light-text;
        background-color: $dark-secondary;
        box-shadow: $subtle-box-shadow-dark;
      }
      .register-submit {
        color: $light-text;
      }

      select {
        border: $border-darker solid 1px;
        background-color: $dark-secondary;
        color: $light-text;

        background-image: linear-gradient(
            45deg,
            transparent 50%,
            $light-primary 50%
          ),
          linear-gradient(135deg, $light-primary 50%, transparent 50%);
      }
    }
    .already-registered-question {
      color: $light-text;

      .sign-in-link {
        color: $link-color-dark;
      }
    }
  }
}
