@import '../../utilities/variables';


.search-bar{
  border: 1px solid $border-lighter;
  border-radius: 4px;
  // margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  height: 30px;
  max-width: 400px;
  background-color: $light-primary;
  .search-icon{
    height: auto;
    width: 100%;
    max-width: 17px;
    fill: $dark-text;
  }
  .search-label{
    font-size: 0.875rem;
    margin: 0;
    background-color: #d6d6d6;
    color: $dark-text;
    font-weight: 550;
    padding: 3px 10px;
    border-radius: 10px;
    white-space: nowrap;
  }
  .search-form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    .search-input{
      padding: 0;
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      background-color: $light-mode-interactive;
    }
  }

  &.dark{
    background-color: $dark-mode-interactive;
    .search-icon{
      height: auto;
      width: 100%;
      max-width: 17px;
      fill: $light-text;
    }

    .search-form{
      .search-input{
        background-color: $dark-mode-interactive;

        &::placeholder{
          color: $light-text;

        }
      }
    }
  }

  @media screen and (max-width: $mobile-bp) {
    margin-left: 0;
    padding: 3px;
    border-radius: 99px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;

    .search-icon {
      height: 100%;
      max-width: 23px;
    }

    .search-form {
      display: none;
    }
  }
}


