@import "../../utilities/variables";

.search-bar {
  border: 1px solid var(--color-border);
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  height: 30px;
  max-width: none;
  background-color: var(--color-bg-interactive);
  border-radius: 99px;

  .desktop-search {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .search-icon-button {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .search-icon {
    height: auto;
    width: 100%;
    max-width: 16px;
    fill: var(--color-text);
    opacity: 0.7;
  }
  .search-label {
    font-size: 0.875rem;
    margin: 0;
    background-color: #d6d6d6;
     
    font-weight: 550;
    padding: 3px 10px;
    border-radius: 10px;
    white-space: nowrap;
  }
  .search-form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    .search-input {
      appearance: none;
      padding: 0;
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      text-decoration: none;
      box-shadow: none;
      color: var(--color-text);
    }

    .search-input::placeholder {
      color: var(--color-text);
      opacity: 0.7;
    }

    .search-input::-ms-input-placeholder {
      color: var(--color-text);
      opacity: 0.6;
    }
  }

  @media screen and (max-width: $mobile-bp) {
    justify-content: flex-start;
    padding: 0;
    gap: 5px;
    width: 100%;

    .search-icon-button {
      padding: 2px 10px;
    }

    .search-icon {
      height: 100%;
      width: 100%;
      // max-width: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .mobile-search {
      display: block;
      height: 100%;
      width: 100%;
      appearance: none;
      border-radius: 99px;
    }

    .mobile-search input {
      font-size: 1rem;
      appearance: none;
      border-radius: 99px;
    }

    .desktop-search {
      display: none;
    }

    .search-form input {
      border-radius: 3px;
      appearance: none;
      border-radius: 99px;
    }
  }
}
