@import '../../utilities/variables';


.search-bar{
  border: 1px solid $border-lighter;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  height: 30px;
  max-width: none;
  background-color: $light-primary;

  .desktop-search {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .search-icon-button {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-icon{
    height: auto;
    width: 100%;
    max-width: 17px;
    fill: $dark-text;
  }
  .search-label{
    font-size: 0.875rem;
    margin: 0;
    background-color: #d6d6d6;
    color: $dark-text;
    font-weight: 550;
    padding: 3px 10px;
    border-radius: 10px;
    white-space: nowrap;
  }
  .search-form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    .search-input{
      appearance: none;
      padding: 0;
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      background-color: $light-primary;
    }
  }

  &.dark{
    background-color: $dark-mode-interactive;
    .search-icon{
      height: auto;
      width: 100%;
      fill: $light-text;
    }

    .search-form{
      .search-input{
        background-color: $dark-mode-interactive;

        &::placeholder{
          color: $light-text;

        }
      }
    }
  }

  @media screen and (max-width: $mobile-bp) {
    justify-content: flex-start;
    padding: 0;
    gap: 5px;
    width: 100%;
    
    .search-icon-button {
      padding: 2px 10px;
    }

    .search-icon {
      height: 100%;
      width: 100%;
      max-width: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .mobile-search {
      display: block;
      height: 100%;
      width: 100%;
      appearance: none;
    }

    .mobile-search input {
      font-size: 1rem;
      appearance: none;
      
    }

    .desktop-search {
      display: none;
    }

    .search-form input {
      border-radius: 3px;
      appearance: none;
    }
  }
}


