$lmText: #1a202c;
$lmNavButtonText: #ecf2f6;
$lmNavButtonBackground: #ecf2f6;
$lmSecondaryText: #73777c;
$lmPrimaryBackground: #cbd5df;
$lmSecondaryBackground: #f8fafc;
$lmBorderInitial: #cbd5e0;
$lmBorderHover: #a0a9b3;

$dmText: rgba(255, 255, 255, 0.87);
$dmNavBackground: #728095;
$dmSecondaryText: #aab3be;
$dmPrimaryBackground: #1b1f2b;
$dmSecondaryBackground: #2e3748;
$dmButtonBackground: #ffffff29;
$dmHover: #ffffff29;
$dmBorderInitial: #61676d;
$dmBorderHover: #b3bdc9;


.search-bar{
  border: 1px solid $lmBorderHover;
  border-radius: 4px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  height: 30px;
  width: 400px;
  .search-icon{
    height: auto;
    width: 100%;
    max-width: 17px;
    fill: $lmText;
  }
  .search-label{
    font-size: 0.875rem;
    margin: 0;
    background-color: #d6d6d6;
    color: $lmText;
    font-weight: 550;
    padding: 3px 10px;
    border-radius: 10px;
    white-space: nowrap;
  }
  .search-form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    .search-input{
      padding: 0;
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
    }
  }

  &.dark{
    background-color: #4e5866;
    .search-icon{
      height: auto;
      width: 100%;
      max-width: 17px;
      fill: $dmText;
    }

    .search-form{
      .search-input{
        background-color: #4e5866;

        &::placeholder{
          color: $dmText;

        }
      }
    }
  }
}


