.subreddit-dropdown {
  transition: all 0.15s ease;
  display: flex;
  flex-direction: column;
  background: #efefef;
  border-radius: 5px;
  position: absolute;
  top: 45px;
  left: 0;
  min-width: 220px;
  z-index: 100;
  box-shadow: 5px 5px 15px 5px rgba(24, 24, 24, 0.15);

  a {
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: background-color 0.1s ease;
    width: calc(100% - 20px);
    text-align: start;

    &:hover {
      background-color: lightgrey;
    }
  }

  .dropdown-home-link-parent {
    display: flex;
    flex-direction: column;
    border-bottom: 1px #fff solid;
    padding: 10px 0px;
  }

  .subreddits-list {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    gap: 5px;
  }

  &.dark {
    a {
      &:hover {
        background-color: #ffffff29;
      }
    }
  }
}

// Subreddit Dropdown open / close
.open {
  visibility: visible;
  opacity: 1;
}

.closed {
  visibility: hidden;
  opacity: 0;
}
